.house {
  height: var(--height-30);
  width: var(--width-30);
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  transition: transform 0.2s ease, filter 0.2s ease;
  transform-origin: center;
}


.groupIcon {
  position: absolute;
  top: calc(50% - 12px);
  left: calc(50% - 13px);
  width: 27px;
  height: 24.3px;
}
