.people {
  height: var(--height-30);
  width: var(--width-30);
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  transition: transform 0.2s ease, filter 0.2s ease;
  transform-origin: center;
}


.vectorIcon {
  position: absolute;
  height: 75%;
  width: 100%;
  top: 12.67%;
  right: 0;
  bottom: 12.33%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
