.homeElementos,
.homeUsurio {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.homeUsurio {
  width: 100%;
  position: relative;
  background-color: var(--branco);
  line-height: normal;
  letter-spacing: normal;
}
.homeElementos {
  align-self: stretch;
  max-width: 100%;
}

.homeElementos > section:last-child {
  margin-bottom: 0;
}
