.homeElementos,
.homeUsurio {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.homeUsurio {
  width: 100%;
  position: relative;
  background-color: var(--branco);
  gap: 0.9px;
  line-height: normal;
  letter-spacing: normal;
  transition: background-color 0.3s ease;
}
.homeElementos {
  align-self: stretch;
  max-width: 100%;
}
